/* predefinindo uma formatação para todo o corpo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* tirando a formatacao da tag a (links) */
a {
  text-decoration: none;
}



/* formatacao da raiz da pagina*/
:root {
  --principal-color: #6C72CB;
  --secondary-color: #EEEDF0;
  --terciary-color: #CB69C1;
  --basecolor: #dfd9d9;
  --smooth-color: #B1B1B1;
  --font-body: 100 1rem 'Montserrat', sans-serif;
  --font-title: 100 3rem 'Anton', sans-serif;
  --font-card: 100 1rem 'Bebas Neue', sans-serif;
  background: rgb(23, 24, 31);
  background: linear-gradient(135deg, rgba(23, 24, 31, 1) 44%, rgba(203, 105, 193, 1) 93%, rgba(108, 114, 203, 1) 98%);
}

/* fazendo o scroll ficar suave */
html {
  scroll-behavior: smooth;
}

h1 {
  font: var(--font-title);
  color: var(--secondary-color);
  /*
  max-width: 0;
  animation: write normal 5s;
  */

}

h1 span {
  color: var(--principal-color);
  /*
  border-right: 4px solid var(--basecolor);
  padding-right: 3px;
  animation: glow normal infinite .8s;
  */
}

/*
h1:hover{
  color: var(--principal-color);
}

h1 span:hover{
  color: var(--secondary-color);
}
*/
.bloco {
  background-color: var(--terciary-color);
  padding: 1rem;
}

.container {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

header {
  padding: 1rem;
  margin: 0 1rem;
  position: flex;
}

.code {
  position: relative;
  text-align: center;
}

.code img {
  width: 10%;
  height: auto;

}

.code img:hover {
  transform: scale(1.1);

}

.logo h1 {
  text-align: center;
  font: var(--font-title);
}

#glass {
  display: flex;
  justify-content: center;
  align-items: center;

}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 10px;
  width: 600px;
  height: auto;
  background-color: rgba (196, 196, 196, 0, 22);
  border-radius: 49px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  border-top: 0.1px solid rgba(255, 255, 255, 0.5);
  border-left: 0.1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.profile div {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: center;

}

.profile img {
  width: 40%;
  height: auto;
  position: relative;
  text-align: center;
  clip-path: circle();
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform 0.2s;

}

.profile p {
  padding-top: 20px;
  padding-left: 5px;
  font: var(--font-body);
  color: var(--secondary-color);
  text-align: left;
}


.titulo span {
  margin: 0px;
}


.titulo p {
  background-color: var(--principal-color);
  font: var(--font-card);
  font-size: 32px;
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  display: flex;

}


.title h1 {
  font-size: 64px;
  font: var(--font-title);
  text-align: center;
  padding-bottom: 0.20rem;
  position: relative;
}

.title p {
  color: var(--secondary-color);
  font-size: 32px;
  -webkit-font-smoothing: antialiased;

}

.logo p {
  font: var(--font-body);
  color: var(--secondary-color);
  text-align: center;
}


.content h2 {
  padding-top: 5rem;
  text-align: center;
  font: var(--font-title);
  font-size: 1.5rem;
  color: #FFFFFF;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: 0.2s;
  font-size: 1.4rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icons a:hover {
  transform: translateY(-5px);
  background: none;
  color: #FFFFFF;
}

.banner-curiosidades {


  background-color: var(--terciary-color);
  margin-top: 60px;
  width: auto;
  height: auto;

  display: flex;

}

.banner-curiosidades h1 {
  font: var(--font-title);
  color: var(--secondary-color);
  padding: 20px;
}

.banner-curiosidades img {
  position: absolute;
  width: 100px;
  height: 100px;
  padding: 20px;
  margin-left: 240px;
  margin-top: 25px;
}

.banner-curiosidades div {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;

}
.banner-curiosidades ul {
  padding: 20px;
}

.banner-curiosidades ul li {
  font: var(--font-card);
  font-size: 30px;
  color: var(--secondary-color);
  text-align: left;
}

.banner-series {

  margin-top: 60px;
  width: auto;
  height: 300px;

  display: flex;

}

.banner-series h1 {
  font: var(--font-title);
  color: var(--secondary-color);
  padding: 20px;
}

.banner-series div {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.banner-series img {
  height: 200px;
  width: auto;
  padding: 10px;

}

.banner-series img:hover {
  transform: scale(1.1);
  transform: translateY(1.1);
}

.banner-leituras {
  background-color: var(--principal-color);
  margin-top: 60px;
  width: auto;
  height: 300px;

  display: flex;
}
.banner-leituras h1 {
  font: var(--font-title);
  color: var(--secondary-color);
  padding: 20px;
}

.banner-leituras div {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.banner-leituras img {
  height: 200px;
  width: auto;
  padding: 10px;

}
.banner-leituras img:hover {
  transform: scale(1.1);
  transform: translateY(1.1);
}

/*
.banner p {
  padding-top: 100px;
  padding-left: 50px;
  background-color: var(--terciary-color);
  font: var(--font-body);
  color:  #17181F;
  text-align: left;
} */

/*.card-scroll {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-self: center;

}
*/


#leituras {
  margin-bottom: 100px;
}

#hobbies {
  margin-bottom: 100px;
}

#curiosidades {
  margin-bottom: 300px;
}



/* @keyframes glow {
  100%{
    border-right-color: transparent;
  }
}

@keyframes write {
  100% {
    max-width: 100%;
  }
}
*/

@media only screen and (max-device-width: 900px) {
  .banner-curiosidades {


    background-color: var(--terciary-color);
    margin-top: 60px;
    width: auto;
    height: auto;
    padding-bottom: 40px ;
    display: flex;
    flex-direction: column;
  
  }
  
  .banner-curiosidades h1 {
    font: var(--font-title);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
  }
  
  .banner-curiosidades img {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin-left: 300px;
    margin-top: 25px;
  }
  
  .banner-curiosidades div {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
  }
  
  .banner-curiosidades ul li {
    font: var(--font-card);
    font-size: 30px;
    color: var(--secondary-color);
    text-align: left;
  }
  
  .banner-series {
  
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  
  }
  
  .banner-series h1 {
    font: var(--font-title);
    color: var(--secondary-color);
    text-align: center;
  }
  
  .banner-series div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .banner-series img {
    height: 300px;
    width: auto;
    padding: 10px;
  
  }
  
  .banner-series img:hover {
    transform: scale(1.1);
    transform: translateY(1.1);
  }
  
  .banner-leituras {
    background-color: var(--principal-color);
    margin-top: 60px;
    width: auto;
    height: auto;
  
    display: flex;
    flex-direction: column;
  }
  .banner-leituras h1 {
    font: var(--font-title);
    color: var(--secondary-color);
    text-align: center;
  }
  
  .banner-leituras div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .banner-leituras img {
    height: 300px;
    width: auto;
    padding: 10px;
  
  }
  .banner-leituras img:hover {
    transform: scale(1.1);
    transform: translateY(1.1);
  }
}

@media only screen and (max-device-width: 500px) {
  .banner-curiosidades {


    background-color: var(--terciary-color);
    margin-top: 60px;
    width: auto;
    height: auto;
    padding-bottom: 40px ;
    display: flex;
    flex-direction: column;
  
  }
  
  .banner-curiosidades h1 {
    font: var(--font-title);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
  }
  
  .banner-curiosidades img {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin-left: 300px;
    margin-top: 25px;
  }
  
  .banner-curiosidades div {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
  }
  
  .banner-curiosidades ul li {
    font: var(--font-card);
    font-size: 30px;
    color: var(--secondary-color);
    text-align: left;
  }
  
  .banner-series {
  
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  
  }
  
  .banner-series h1 {
    font: var(--font-title);
    color: var(--secondary-color);
    text-align: center;
  }
  
  .banner-series div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .banner-series img {
    height: 300px;
    width: auto;
    padding: 10px;
  
  }
  
  .banner-series img:hover {
    transform: scale(1.1);
    transform: translateY(1.1);
  }
  
  .banner-leituras {
    background-color: var(--principal-color);
    margin-top: 60px;
    width: auto;
    height: auto;
  
    display: flex;
    flex-direction: column;
  }
  .banner-leituras h1 {
    font: var(--font-title);
    color: var(--secondary-color);
    text-align: center;
  }
  
  .banner-leituras div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .banner-leituras img {
    height: 300px;
    width: auto;
    padding: 10px;
  
  }
  .banner-leituras img:hover {
    transform: scale(1.1);
    transform: translateY(1.1);
  }.banner-curiosidades {


    background-color: var(--terciary-color);
    margin-top: 60px;
    width: auto;
    height: auto;
    padding-bottom: 40px ;
    display: flex;
    flex-direction: column;
  
  }
  
  .banner-curiosidades h1 {
    font: var(--font-title);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
  }
  
  .banner-curiosidades img {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin-left: 300px;
    margin-top: 25px;
  }
  
  .banner-curiosidades div {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
  }
  
  .banner-curiosidades ul li {
    font: var(--font-card);
    font-size: 30px;
    color: var(--secondary-color);
    text-align: left;
  }
  
  .banner-series {
  
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  
  }
  
  .banner-series h1 {
    font: var(--font-title);
    color: var(--secondary-color);
    text-align: center;
  }
  
  .banner-series div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .banner-series img {
    height: 300px;
    width: auto;
    padding: 10px;
  
  }
  
  .banner-series img:hover {
    transform: scale(1.1);
    transform: translateY(1.1);
  }
  
  .banner-leituras {
    background-color: var(--principal-color);
    margin-top: 60px;
    width: auto;
    height: auto;
  
    display: flex;
    flex-direction: column;
  }
  .banner-leituras h1 {
    font: var(--font-title);
    color: var(--secondary-color);
    text-align: center;
  }
  
  .banner-leituras div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .banner-leituras img {
    height: 300px;
    width: auto;
    padding: 10px;
  
  }
  .banner-leituras img:hover {
    transform: scale(1.1);
    transform: translateY(1.1);
  }

  
}