/* predefinindo uma formatação para todo o corpo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* tirando a formatacao da tag a (links) */
a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  transform: scale(1.1);
}

/* formatacao da raiz da pagina*/
:root {
  --principal-color: #6C72CB;
  --secondary-color: #EEEDF0;
  --terciary-color: #CB69C1;
  --basecolor: #dfd9d9;
  --smooth-color: #B1B1B1;
  --font-body: 100 1rem 'Montserrat', sans-serif;
  --font-title: 100 3rem 'Anton', sans-serif;
  --font-card: 100 1rem 'Bebas Neue', sans-serif;
  background: rgb(23, 24, 31);
  background: linear-gradient(135deg, rgba(23, 24, 31, 1) 44%, rgba(203, 105, 193, 1) 93%, rgba(108, 114, 203, 1) 98%);
}

/* fazendo o scroll ficar suave */
html {
  scroll-behavior: smooth;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anima {
  max-width: 0;
  overflow: hidden;
  font: var(--font-title);
  color: var(--secondary-color);

  border-right: 4px solid var(--basecolor);
  padding-right: 3px;
  animation: glow normal infinite .8s, write normal 9s steps(55) both;
}

.anima span {
  color: var(--principal-color);

}

.bloco {
  background-color: var(--terciary-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.bloco a {
  font: var(--font-title);
  padding: 10px;
  font-size: 20px;
}

.container {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

header {
  padding: 1rem;
  margin: 0.1rem;
  position: flex;
}

.code {
  position: relative;
  text-align: center;
}

.code img {
  width: 5%;
  height: auto;

}

.code img:hover {
  transform: scale(1.1);

}

.logo h1 {
  text-align: center;
  font: var(--font-title);
}

#glass {
  display: flex;
  justify-content: center;
  align-items: center;

}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 10px;
  width: 600px;
  height: auto;
  background-color: rgba (196, 196, 196, 0, 22);
  border-radius: 49px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  border-top: 0.1px solid rgba(255, 255, 255, 0.5);
  border-left: 0.1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.profile div {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: center;

}

.profile img {
  width: 40%;
  height: auto;
  position: relative;
  text-align: center;
  clip-path: circle();
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform 0.2s;

}

.profile p {
  padding-top: 20px;
  padding-left: 5px;
  font: var(--font-body);
  color: var(--secondary-color);
  text-align: left;
}


.titulo span {
  margin: 0px;
}


.titulo p {
  background-color: var(--principal-color);
  font: var(--font-card);
  font-size: 32px;
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  display: flex;

}


.title h1 {
  font-size: 64px;
  font: var(--font-title);
  text-align: center;
  padding-bottom: 0.20rem;
  position: relative;
}

.title p {
  color: var(--secondary-color);
  font-size: 32px;
  -webkit-font-smoothing: antialiased;

}

.logo p {
  font: var(--font-body);
  color: var(--secondary-color);
  text-align: center;
}


.content h2 {
  padding-top: 5rem;
  text-align: center;
  font: var(--font-title);
  font-size: 1.5rem;
  color: #FFFFFF;
}


.banner-curiosidades {


  background-color: var(--terciary-color);
  margin-top: 60px;
  width: auto;
  height: auto;

  display: flex;

}

.banner-curiosidades h1 {
  font: var(--font-title);
  color: var(--secondary-color);
  padding: 20px;
}

.banner-curiosidades img {
  position: absolute;
  width: 100px;
  height: 100px;
  padding: 20px;
  margin-left: 240px;
  margin-top: 25px;
}

.banner-curiosidades div {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;

}

.banner-curiosidades ul {
  padding: 20px;
}

.banner-curiosidades ul li {
  font: var(--font-card);
  font-size: 30px;
  color: var(--secondary-color);
  text-align: left;
}

.instagram {
  
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instagram h1 {
  font: var(--font-title);
  color: var(--secondary-color);
}

.insta {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  font-size: 50px;
  padding: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icons a:hover {
  transform: translateY(-5px);
  background: none;
  color: #FFFFFF;
}

.banner-bandas {

  background-color: var(--principal-color);
  margin-top: 60px;
  width: auto;
  height: 300px;

  display: flex;

}

.banner-bandas h1 {
  font: var(--font-title);
  color: var(--secondary-color);
  padding: 20px;
}

.banner-bandas div {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.banner-bandas img {
  height: 200px;
  width: auto;
  padding: 10px;

}

.banner-bandas img:hover {
  transform: scale(1.1);
  transform: translateY(1.1);
}

.banner-jogos {

  margin-top: 60px;
  width: auto;
  height: 300px;

  display: flex;

}

.banner-jogos h1 {
  font: var(--font-title);
  color: var(--secondary-color);
  padding: 20px;
}

.banner-jogos div {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.banner-jogos img {
  height: 200px;
  width: auto;
  padding: 10px;

}

.banner-jogos img:hover {
  transform: scale(1.1);
  transform: translateY(1.1);
}


.banner-series {

 
  margin-top: 60px;
  width: auto;
  height: 300px;

  display: flex;

}

.banner-series h1 {
  font: var(--font-title);
  color: var(--secondary-color);
  padding: 20px;
}

.banner-series div {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.banner-series img {
  height: 200px;
  width: auto;
  padding: 10px;

}

.banner-series img:hover {
  transform: scale(1.1);
  transform: translateY(1.1);
}

.banner-leituras {
  background-color: var(--terciary-color);
  margin-top: 60px;
  width: auto;
  height: 300px;

  display: flex;
}

.banner-leituras h1 {
  font: var(--font-title);
  color: var(--secondary-color);
  padding: 20px;
}

.banner-leituras div {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.banner-leituras img {
  height: 200px;
  width: auto;
  padding: 10px;

}

.banner-leituras img:hover {
  transform: scale(1.1);
  transform: translateY(1.1);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.footer h1 {
  font: var(--font-title);
  color: var(--secondary-color);
}

.footer p {
  font: var(--font-body);
  color: var(--secondary-color);
  padding-bottom: 20px;
}

.form .button {
  background-color: var(--principal-color);
  font: var(--font-card);
  font-size: 20px;
  color: var(--secondary-color);
}

.form input {
  height: 50px;
  width: 200px;
  border-radius: 5px;

}

.banner-curiosidades,
.banner-bandas,
.banner-series,
.banner-leituras,
.instagram,
.footer 
.banner-jogos{
  visibility: hidden;
}

@keyframes glow {
  100% {
    border-right-color: transparent;
  }
}

@keyframes write {
  100% {
    max-width: 100%;
  }
}

